---
import { certifications } from "@/data/certifications";
---

<section class="p-6">
  <h2 class="h2 mb-4">Certifications</h2>
  <div class="hover:border-primary/30 hover:shadow-primary/5 dark:bg-base-900 rounded-lg border bg-white p-6 transition-all hover:shadow-lg">
    {certifications.map((cert, index) => (
      <div>
        <a 
          href={cert.url} 
          target="_blank" 
          rel="noopener noreferrer"
          class="flex items-center justify-between group"
        >
          <div>
            <h4 class="text-sm sm:text-base font-semibold text-gray-900 dark:text-white group-hover:text-blue-600 dark:group-hover:text-blue-400 ">
              {cert.name}
            </h4>
            <div class="flex flex-wrap items-center gap-2">
              <p class="text-xs sm:text-sm text-gray-600 dark:text-gray-400">{cert.issuer}</p>
              <span class="text-gray-300 dark:text-gray-700 hidden sm:inline">•</span>
              <p class="text-xs sm:text-sm text-gray-500 dark:text-gray-500">{cert.date}</p>
            </div>
          </div>
          <div class="bg-gray-100 dark:bg-gray-700 p-2 sm:p-2.5 rounded-full group-hover:bg-blue-50 dark:group-hover:bg-blue-900 ">
            <svg 
              class="w-4 h-4 sm:w-5 sm:h-5 text-gray-600 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-400 " 
              fill="none" 
              stroke="currentColor" 
              viewBox="0 0 24 24"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                stroke-width="2" 
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              />
            </svg>
          </div>
        </a>
        {index !== certifications.length - 1 && (
          <div class="my-4 border-b border-gray-200 dark:border-gray-700"></div>
        )}
      </div>
    ))}
  </div>
</section>