---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getCollection } from "astro:content";

// components
import ProjectCard from "@/components/projects/ProjectCard.astro";

// utils
import { filterCollectionByLanguage } from "@js/localeUtils";
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);

const projects = await getCollection("projects", ({ data }) => {
	// filter out draft projects
	return data.draft !== true;
});
const filteredProjects = filterCollectionByLanguage(projects, currLocale);
const sortedProjects = filteredProjects.sort(
	(a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity),
);
---

<section id="showcase-cards" class="bg-background text-foreground py-16 md:py-32">
	<div class="container mx-auto px-4">
		<div class="mx-auto mb-16 max-w-3xl text-center">
			<h2 class="h2 mb-4">Projects</h2>
			<p class="description text-xl">
				Dive into my world of creative projects and practical creations.
			</p>
		</div>
		<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3" id="project-cards">
			{
				sortedProjects.map((project, idx) => (
					<ProjectCard
						project={project}
						data-aos="fade-up"
						data-aos-trigger="#project-cards"
						data-aos-delay={0.2 * idx}
					/>
				))
			}
		</div>
	</div>
</section>
