---
import { Icon } from "astro-icon/components";

---

<a
	href="https://www.linkedin.com/in/logan-bovet/"
	target="_blank"
	rel="noopener noreferrer"
	class="primary-focus nav__link--base rounded-full"
	aria-label="LinkedIn"
>
	<div class="relative flex items-center justify-center h-full mb-0.5 ml-2">
		<Icon
			name="tabler/brand-linkedin"
			class="size-5"
		/>
	</div>
</a>