---
/**
 * * Logo cloud section marquee
 *
 * These are taken from the src/icons folder. You may desire to modify any SVGs you use to have the fill set to "currentColor"
 * to use the current text color. That is how I have set up these icons for demo purposes
 *
 * There is a commented out script at the bottom. If you would like the marquee to pause on mouseover, uncomment it.
 */

import { Icon } from "astro-icon/components";

import { getLocaleFromUrl } from "@js/localeUtils";
import { useTranslations } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section
	id="logo-cloud-marquee"
	class="bg-base-100 dark:bg-background dark:border-base-900 py-16 md:py-20 dark:border-y"
>
	<div class="mx-auto max-w-xl px-4 text-center">
		<h2 class="h3">{t("logocloud_title")}</h2>
		<p class="description mt-4 text-base opacity-80">
			{t("logocloud_description")}
		</p>
	</div>
	<div class="relative mx-auto max-w-[2000px] overflow-hidden px-4">
		<!-- left fade-out -->
		<div
			class="from-base-100 dark:from-background absolute top-0 -left-px z-10 h-full w-[15%] bg-gradient-to-r from-20% to-transparent"
		>
		</div>
		<!-- right fade-out -->
		<div
			class="to-base-100 dark:to-background absolute top-0 -right-px z-10 h-full w-[15%] bg-gradient-to-r from-transparent to-80%"
		>
		</div>

		<div class="logo-marquee relative mt-12 flex gap-32 overflow-hidden">
			<!-- Each animate-marquee section needs to have the exact same icons. Just do one then copy / paste -->
			<div class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-32">

				<Icon name="logos/adobe" class="logo" aria-label="logo" />

				<Icon name="logos/atlassian" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/bitdefender" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/cisco" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/fortinet" class="logo py-3" aria-label="logo" />
	
				<Icon name="logos/github" class="logo" aria-label="logo" />
	
				<Icon name="logos/glpi" class="logo" aria-label="logo" />
	
				<Icon name="logos/google" class="logo py-1" aria-label="logo" />
	
				<Icon name="logos/halo" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/heimdal" class="logo py-1" aria-label="logo" />
	
				<Icon name="logos/hubspot" class="logo py-1" aria-label="logo" />
	
				<Icon name="logos/ionos" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/kaspersky" class="logo py-1" aria-label="logo" />
	
				<Icon name="logos/linkedin" class="logo py-1" aria-label="logo" />
	
				<Icon name="logos/microsoft" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/n8n" class="logo py-1" aria-label="logo" />
				
				<Icon name="logos/openai" class="logo py-1" aria-label="logo" />
	
				<Icon name="logos/ovh" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/slack" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/teamviewer" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/trello" class="logo py-2" aria-label="logo" />
	
				<Icon name="logos/vmware" class="logo py-2" aria-label="logo" />
				
				<Icon name="logos/zapier" class="logo py-1" aria-label="logo" />
			</div>

			<!-- Each animate-marquee section needs to have the exact same icons. Just do one then copy / paste -->
			<div
				aria-hidden="true"
				class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-32"
			>

			<Icon name="logos/adobe" class="logo" aria-label="logo" />

			<Icon name="logos/atlassian" class="logo py-2" aria-label="logo" />

			<Icon name="logos/bitdefender" class="logo py-2" aria-label="logo" />

			<Icon name="logos/cisco" class="logo py-2" aria-label="logo" />

			<Icon name="logos/fortinet" class="logo py-3" aria-label="logo" />

			<Icon name="logos/github" class="logo" aria-label="logo" />

			<Icon name="logos/glpi" class="logo" aria-label="logo" />

			<Icon name="logos/google" class="logo py-1" aria-label="logo" />

			<Icon name="logos/halo" class="logo py-2" aria-label="logo" />

			<Icon name="logos/heimdal" class="logo py-1" aria-label="logo" />

			<Icon name="logos/hubspot" class="logo py-1" aria-label="logo" />

			<Icon name="logos/ionos" class="logo py-2" aria-label="logo" />

			<Icon name="logos/kaspersky" class="logo py-1" aria-label="logo" />

			<Icon name="logos/linkedin" class="logo py-1" aria-label="logo" />

			<Icon name="logos/microsoft" class="logo py-2" aria-label="logo" />

			<Icon name="logos/n8n" class="logo py-1" aria-label="logo" />
			
			<Icon name="logos/openai" class="logo py-1" aria-label="logo" />

			<Icon name="logos/ovh" class="logo py-2" aria-label="logo" />

			<Icon name="logos/slack" class="logo py-2" aria-label="logo" />

			<Icon name="logos/teamviewer" class="logo py-2" aria-label="logo" />

			<Icon name="logos/trello" class="logo py-2" aria-label="logo" />

			<Icon name="logos/vmware" class="logo py-2" aria-label="logo" />
			
			<Icon name="logos/zapier" class="logo py-1" aria-label="logo" />
			</div>
		</div>
	</div>
</section>

<style>
	@import "tailwindcss/theme" theme(reference);
	@import "@/styles/tailwind-theme.css" theme(reference);

	.logo {
		@apply mx-auto h-10 w-auto opacity-60 transition-opacity duration-300 hover:opacity-100;
	}
</style>
